@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-webkit-transition: 0.25s all ease;
	-moz-transition: 0.25s all ease;
	-ms-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
}

body {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	background-color: #e8e8e8;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

input,
textarea,
select {
	outline: none;
}

.heroslider .slick-next {
	position: absolute;
	top: 45%;
	right: 15px;
}

.heroslider .slick-prev {
	position: absolute;
	top: 45%;
	margin-left: 15px;
	z-index: 1;
}

::-webkit-scrollbar {
	display: none;
}
.addScrollBar::-webkit-scrollbar {
	display: inline !important;
	width: 5px;
	background-color: white;
}
.addScrollBar::-webkit-scrollbar-thumb {
	display: inline-block;
	background-color: #eed132;
	border-radius: 2.5px;
}
