/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "BALOO THAMBI 2";
	src: url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap");
}

body {
	box-sizing: border-box;
	background-color: #e8e8e8;
}
